html,
body {
  height: 98%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  height: 14%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

section {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.content-ab {
  width: 70%;
}

.content-a {
  background-color: red;
  width: 100%;
  height: 50%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

.content-b {
  background-color: orange;
  width: 100%;
  height: 50%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

.content-c {
  background-color: yellow;
  width: 30%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

footer {
  background-color: lightgray;
  height: 14%;
  margin-top: 1%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

@media (max-width: 900px) {
  body {
    font-size: 30px;
  }
  .content-ab {
    width: 50%;
  }
  .content-c {
    width: 50%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 18px;
  }
  section {
    flex-direction: column;
    margin-top: 3%;
  }
  .content-ab {
    width: 100%;
    height: 66%;
  }
  .content-c {
    width: 100%;
    height: 33%;
    margin-bottom: 3%;
  }
}
