html,
body {
  height: 98%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  height: 9%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

section {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.content-a {
  background-color: lightgreen;
  width: 60%;
  height: 100%;
  padding-left: 0.5%;
  padding-top: 0.2%;
  order: 2;
}

.content-b {
  background-color: green;
  width: 20%;
  height: 100%;
  padding-left: 0.5%;
  padding-top: 0.2%;
  order: 1;
}

.content-c {
  background-color: yellow;
  width: 20%;
  height: 100%;
  padding-left: 0.5%;
  padding-top: 0.2%;
  order: 3;
}

footer {
  background-color: lightgray;
  height: 9%;
  margin-top: 1%;
  padding-left: 0.5%;
  padding-top: 0.2%;
}

@media (max-width: 900px) {
  body {
    font-size: 25px;
  }

  section {
    flex-wrap: wrap;
    height: 84%;
  }

  header {
    padding-left: 2%;
    padding-top: 1%;
    width: 100%;
    height: 6%;
    width: 98%;
  }

  .content-a {
    width: 100%;
    height: 60%;
    order: 1;
    margin-top: 2%;
    padding-left: 2%;
    padding-top: 1%;
  }

  .content-b {
    width: 50%;
    height: 40%;
    padding-left: 2%;
    padding-top: 1%;
    order: 2;
    margin-bottom: 3%;
  }

  .content-c {
    width: 50%;
    height: 40%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-top: 1%;
    order: 3;
    flex: 2;
  }

  footer {
    margin-top: 7%;
    padding-left: 3%;
    padding-top: 2%;
    width: 100%;
    height: 6%;
    width: 97%;
  }
}

@media (max-width: 500px) {
  html {
    height: 100%;
  }
  body {
    font-size: 18px;
    height: 100%;
  }

  section {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 84%;
  }

  header {
    padding-left: 2%;
    padding-top: 1%;
    width: 100%;
  }

  .content-a {
    width: 100%;
    height: 50%;
    order: 1;
    margin-top: 3%;
    padding-left: 2%;
    padding-top: 1%;
  }

  .content-b {
    width: 100%;
    height: 25%;
    padding-left: 2%;
    padding-top: 1%;
    margin-bottom: 0;
  }

  .content-c {
    width: 100%;
    height: 25%;
    padding-left: 2%;
    padding-top: 1%;
    flex: none;
    margin: 0;
  }

  footer {
    padding-left: 3%;
    padding-top: 2%;
    width: 100%;
    margin-top: 4%;
    width: 99%;
  }
}
